/*--------- Initialisation du document --------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------- Style header --------*/

.style_header{
    background-color: black;
    display: flex;
}

.navbar{
    width: 70%;
}

.ul_navbar{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    padding: 1%;
    width: 50%;
    text-align: center;
}

li > a {
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}

li:hover{
    background-color: brown;
}

/*--------- Style input search --------*/

.search_bar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#search{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1%;
    margin: 0%;
}

#valid{
    background-color: coral;
    border: 1px solid coral;
    padding: 1%;
    margin: 0% 1%;
}

/*--------- Style Section & Aside --------*/

.dispo_sectionacide{
    display: flex;
}

/*--------- Filtre aside ----------*/

.style_aside{
    width: 15%;
    margin: 1% 1% 0% 0%;
}

.style_aside > h2 {
    text-transform: uppercase;
    margin: 5% 0%;
}

.style_filter{
    margin: 8% 0% 8% 4%;
}

.style_btn_filter{
    padding: 1%;
    background-color: black;
    border: 1px solid black;
    color: white;
}

.dispo_btn{
    display: flex;
    justify-content: center;
}

.style_btn_filter:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/*--------- Affichage card voiture ----------*/

.style_section{
    width: 85%;
}

.style_section > h2 {
    text-transform: uppercase;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article{
    border: 2px solid black;
    text-align: center;
    width: 12%;
    margin: 2% 2.8%;
    padding: 1%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 1.5% 0%;
}

h2 {
    text-align: center;
    margin: 1.5% 0%;
}

/*--------- formulaire d'ajout d'élément sur la bdd ----------*/

.dispo_form{
    display: flex;
    justify-content: center;
}

.style_input{
    margin: 4% 0%;
    padding: 2%;
    width: 100%;
}

.style_btn{
    padding: 1.5%;
    border: 2px solid black;
    background-color: white;
}